@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    position:relative;
    min-height: 100%;
}
main {
    margin-bottom: 250px; /* Hauteur du footer */
}

footer.footer {
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 0;
    }

p {
    font-family: $font-family-serif;
    font-size: 18px;
}
.footer p {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700 !important;
    font-size: 16px !important;
}
.text-justify{
    text-align: justify
}

html, body {
  background-color: #f8f9fa; /* bg-light */
}

main {
  flex: 1;
  background-color: #f8f9fa; /* bg-light */
  min-height: calc(100vh - 120px); /* hauteur header + footer */
}
/* Assurez-vous que ce fichier est chargé après Bootstrap */
.rect {
  width: 100%;
  padding-top: 30.25%; /* ratio 16:9 */
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: #f8f9fa; /* important: transparent */
  display: block;
}

/* si vous voulez une bordure discrète au lieu d'ombre */
.rect-card {
  border: primary 1px solid;
}