@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";

html{
    position:relative;
    min-height: 100%;
}
main {
    margin-bottom: 250px; /* Hauteur du footer */
}

footer.footer {
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    }

p {
    font-family: $font-family-serif;
    font-size: 18px;
}
.footer p {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700 !important;
    font-size: 16px !important;
}
.text-justify{
    text-align: justify
}